body {
  margin: 0;
  padding: 0;
  background-color: white;
  /*overflow-x: scroll;
  overflow-y: scroll;
  width: auto;

  height: auto;
  overflow-wrap: normal;
  overflow: scroll;
  */
}

/*-----------------1st container---------- */

#container1 {
  position: relative;
  margin: 0;

  top: 0;
  z-index: +1;
}

#login1:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#div1 {
  position: fixed;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
}
#aeontext {
  position: absolute;
  top: -45px;
  left: 100px;
  color: whitesmoke;
  font-size: 50px;
  font-family: "Audiowide", cursive;
}
#aeionfashion {
  position: absolute;
  top: -10px;
  font-family: "Audiowide", cursive;
  color: whitesmoke;
}
#serchproduct {
  position: absolute;
  font-size: 30px;
  left: 650px;
  top: 10px;
}
#img1 {
  position: absolute;
  left: 150px;
  top: 0px;
}
#login1 {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  left: 800px;
  top: 8px;
  font-weight: 600;
  border: none;
  font-family: sans-serif;

  border: 1px solid wheat;
}
#spn1 {
  font-weight: bold;
}
#spn2 {
  color: blue;
}
#spn2:hover {
  text-decoration: underline;
}
#lgnmenu {
  position: absolute;
  background-color: transparent;

  width: 100%;
  width: 300px;
  height: 300px;
  top: 40px;
  right: 500px;
  padding-left: 0;
  border-radius: 5px;
  padding-bottom: 20px;
  text-align: left;
  display: none;
  padding-top: 20px;
  
}
#listlgmenu::before{
  position: absolute;
  content: "";
  /* background-color: red; */
  /* height: 20px;
  width: 20px; */
  top: -7px;
  left: 140px;
  border-top: 0px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;


}
#listlgmenu {
  position: absolute;
  width: 100%;
  width: 300px;
  height: 300px;
  top: 10px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  
  box-shadow: -5px -0px 5px rgba(0, 0, 0, 1), 5px 5px 5px rgba(0, 0, 0, 1);
  
  }

  
#submore1 {
  position: absolute;
  background-color: transparent;

  width: 100%;
  width: 300px;
  height: 180px;
  top: 31px;
  right: -190px;
  padding-left: 0;
  border-radius: 5px;
  padding-bottom: 20px;
  text-align: left;
  display: none;
  padding-top: 20px;
  
}
#listsubmore::before{
  position: absolute;
  content: "";
  /* background-color: red; */
  /* height: 20px;
  width: 20px; */
  top: -7px;
  left: 140px;
  border-top: 0px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;


}
#listsubmore {
  position: absolute;
  width: 100%;
  width: 300px;
  height: 180px;
  top: 10px;
  right: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  
  box-shadow: -5px -0px 5px rgba(0, 0, 0, 1), 5px 5px 5px rgba(0, 0, 0, 1);
  
  }




#login3:hover #lgnmenu {
  display: block;
}


.sm1u {
  padding-left: 0;
  padding: 10px;
  padding-bottom: 15px;
  margin-left: 0;
  text-align: left;
  border-top: 1px solid whitesmoke;
}

#search1 {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 90px;
  left: 300px;
  top: 8px;
  font-weight: bold;
  outline: none;
  border: 1px solid wheat;
  border-radius: 5px;
}
#seller1 {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  right: 327px;
  top: 8px;
  font-weight: 600;
  border: none;
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid wheat;
}
#seller1:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#cart:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#cart {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  right: 20px;
  top: 8px;
  font-weight: 600;
  border: none;
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid wheat;
}
.sm1u:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#more {
  position: absolute;
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  right: 180px;
  top: 8px;
  font-weight: 600;
  border: none;
  font-family: sans-serif;

  border: 1px solid wheat;
}
a {
  display: block;
  text-decoration: none;
  color: rgb(14, 13, 13);
  padding: 10px;
  top: 50px;
  border-radius: 5px;
}
.sub {
  padding-left: 0;
  padding: 10px;
  padding-bottom: 15px;
  margin-left: 0;
  text-align: left;
  border-top: 1px solid whitesmoke;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 16px;
}
.sub:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#more:hover {
  color: white;
  background: #7b4397; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #dc2430,
    #7b4397
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#more:hover #submore1 {
  display: block;
}

/*-----------------2nd container---------- */
#container2 {
  position: relative;

  top: 50px;
}
#div3 {
  position: absolute;

  width: 100%;
  background-color: white;
  height: 110px;
  padding: 5px;
  box-sizing: border-box;
  /*z-index: -1; */
}
li {
  list-style: none;
}

#img2 {
  position: absolute;
  top: 20px;
  left: 190px;
}
#g1 {
  position: absolute;
  top: 80px;
  left: 180px;
  font-weight: bold;
}

#img3 {
  position: absolute;
  top: 20px;
  left: 320px;
}
#g2 {
  position: absolute;
  top: 80px;
  left: 315px;
  font-weight: bold;
}
#img4 {
  position: absolute;
  top: 20px;
  left: 460px;
}
#g3 {
  position: absolute;
  top: 80px;
  left: 450px;
  font-weight: bold;
}

#img5 {
  position: absolute;
  top: 20px;
  left: 600px;
}
#g4 {
  position: absolute;
  top: 80px;
  left: 580px;
  font-weight: bold;
}
#img6 {
  position: absolute;
  top: 20px;
  left: 760px;
}
#g5 {
  position: absolute;
  top: 80px;
  left: 720px;
  font-weight: bold;
}

#img7 {
  position: absolute;
  top: 20px;
  left: 930px;
}
#g6 {
  position: absolute;
  top: 80px;
  left: 915px;
  font-weight: bold;
}
#img8 {
  position: absolute;
  top: 20px;
  left: 1060px;
}
#g7 {
  position: absolute;
  top: 80px;
  left: 1060px;
  font-weight: bold;
}

#img9 {
  position: absolute;
  top: 20px;
  right: 250px;
}
#g8 {
  position: absolute;
  top: 80px;
  right: 190px;
  font-weight: bold;
}

#img10 {
  position: absolute;
  top: 20px;
  right: 70px;
}
#g9 {
  position: absolute;
  top: 80px;
  right: 40px;
  font-weight: bold;
}
#img11 {
  position: absolute;
  top: 20px;
  left: 65px;
}
#g10 {
  position: absolute;
  top: 80px;
  left: 50px;
  font-weight: bold;
}
#g1:hover {
  color: blue;
}
#g2:hover {
  color: blue;
}
#g3:hover {
  color: blue;
}
#g4:hover {
  color: blue;
}
#g5:hover {
  color: blue;
}
#g6:hover {
  color: blue;
}
#g7:hover {
  color: blue;
}
#g8:hover {
  color: blue;
}
#g9:hover {
  color: blue;
}
#g10:hover {
  color: blue;
}
/*-----------------3rd container---------- */

#container3 {
  position: relative;
}
#div4 {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 250px;
  top: 175px;
  z-index: -1;
}
#img12 {
  position: absolute;
  left: 0;
  margin: 1px;
  width: 100%;
}

/*-----------------4th container---------- */

/*-----------------5th container---------- */
#container5 {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: white;
  top: 600px;
  padding-top: 10px;
  /*z-index: -1;*/
}
#div7 {
  position: absolute;

  background-color: white;
  width: 15%;
  height: 300px;
  /*z-index: +1;*/
  text-align: center;
}
#tpo {
  position: absolute;
  top: 70px;
  text-align: center;
  left: 40px;
}
#viewall {
  position: absolute;
  padding: 5px;
  background-color: blue;
  color: white;
  font-size: 20px;
  top: 150px;
  left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#img19 {
  position: absolute;
  bottom: 0;
  left: 0;
}
#img20 {
  position: absolute;
  left: 250px;
  top: 0;
}
#flask {
  position: absolute;
  color: black;
  left: 330px;
  bottom: -160px;
}
#rs399 {
  position: absolute;
  color: green;
  left: 300px;
  bottom: -190px;
  width: 100px;
  font-size: 20px;
}

#cellomore {
  position: absolute;
  color: black;
  left: 290px;
  bottom: -220px;
  width: 120px;
  font-weight: lighter;
}

#div8 {
  position: absolute;
}

#img21 {
  position: absolute;
  left: 510px;
  top: 0;
}
#Projectors {
  position: absolute;
  color: black;
  left: 540px;
  width: 120px;
  bottom: -160px;
}
#rs8999 {
  position: absolute;
  color: green;
  left: 530px;
  bottom: -190px;
  width: 150px;
  font-size: 20px;
}

#zeb {
  position: absolute;
  color: black;
  bottom: -220px;
  width: 1250px;
  font-weight: lighter;
  left: -20px;
}

#div9 {
  position: absolute;
}

#img22 {
  position: absolute;
  left: 800px;
  top: 0;
}
#fan {
  position: absolute;
  color: black;
  left: 800px;
  width: 180px;
  bottom: -160px;
}
#rs1499 {
  position: absolute;
  color: green;
  left: 810px;
  bottom: -190px;
  width: 150px;
  font-size: 20px;
}

#fans {
  position: absolute;
  color: black;
  bottom: -220px;
  width: 205px;
  font-weight: lighter;
  left: 790px;
}

#div10 {
  position: absolute;
}

#img23 {
  position: absolute;
  left: 1080px;
  top: 0;
}
#music {
  position: absolute;
  color: black;
  left: 1070px;
  width: 180px;
  bottom: -160px;
}
#upto80 {
  position: absolute;
  color: green;
  left: 1080px;
  bottom: -190px;
  width: 150px;
  font-size: 20px;
}

#musics1 {
  position: absolute;
  color: black;
  bottom: -220px;
  width: 205px;
  font-weight: lighter;
  left: 1060px;
}

#div11 {
  position: absolute;
}
#img24 {
  position: absolute;
  left: 1300px;
  top: 0;
  height: 30 0px;
  width: 200px;
}

#img20:hover {
  transform: scale(1.1);
}
#img21:hover {
  transform: scale(1.1);
}
#img22:hover {
  transform: scale(1.1);
}

#img23:hover {
  transform: scale(1.1);
}

/*-----------------6th container---------- */
#container6 {
  position: relative;
  width: 100%;
  height: 290px;
  background-color: white;
  top: 610px;
  padding-top: 10px;
  z-index: -1;
}
#div12 {
  position: absolute;

  background-color: white;
  background-image: url(./image/indianflag.jpg);
  background-repeat: round;

  width: 33%;
  height: 280px;
  z-index: +1;
  text-align: center;
}
#img25 {
  position: absolute;
  right: 20%;
  top: 30px;
}
#smf13 {
  position: absolute;
  left: 20px;
  padding-top: 45px;
}
#rs9499 {
  position: absolute;
  left: 0;

  top: 40px;
  padding-top: 40px;
}
#rs14999 {
  position: absolute;
  right: 7px;
  top: 34px;
  font-size: 17px;
  text-decoration: line-through;
  font-weight: lighter;

  padding-top: 50px;
}
#detail1 {
  position: absolute;
  bottom: 95px;
  left: 20px;
  font-weight: lighter;
}

#div13 {
  position: absolute;

  background-color: white;
  background-image: url(./image/indianflag.jpg);
  background-repeat: round;

  width: 33%;
  height: 280px;
  z-index: +1;
  text-align: center;
  right: 33.5%;
}
#img26 {
  position: absolute;
  right: 5%;
  top: 100px;
}
#smf14 {
  position: absolute;
  left: 20px;
  padding-top: 45px;
}
#rs24490 {
  position: absolute;
  left: 0;
  top: 40px;
  padding-top: 40px;
}

#detail2 {
  position: absolute;
  bottom: 94px;
  left: 20px;
  font-weight: lighter;
  padding-top: 40px;
}

#div14 {
  position: absolute;

  background-color: white;
  background-image: url(./image/indianflag.jpg);
  background-repeat: round;

  width: 33%;
  height: 280px;
  z-index: +1;
  text-align: center;
  right: 0;
}
#img27 {
  position: absolute;
  right: 10%;
  top: 50px;
}
#smf15 {
  position: absolute;
  left: 20px;
  padding-top: 45px;
}
#rs12240 {
  position: absolute;
  left: 0;
  top: 40px;
  padding-top: 40px;
}

#detail3 {
  position: absolute;
  bottom: 94px;
  left: 20px;
  font-weight: lighter;
  padding-top: 40px;
}

/*-----------------7th container---------- */
#container7 {
  position: relative;
  width: 100%;
  height: 390px;
  background-color: wheat;
  top: 610px;
  padding-top: 10px;
  z-index: -1;
}
#div15 {
  position: absolute;
}

/*-----------------8th container---------- */
/*-----------------footer---------- */

#container8 {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #1b1b42;
  top: 610px;
  padding-top: 10px;
  z-index: -1;
}
#div16 {
  position: absolute;

  height: 330px;
  width: 200px;
  z-index: +1;
  margin-left: 100px;
  margin-top: 20px;
}
#about {
  margin-left: 10px;
  left: 50%;
  color: gray;
}
.abot {
  color: white;
  display: block;
  padding: bottom 7px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abot:hover {
  text-decoration: underline;
}

#div17 {
  position: absolute;

  height: 330px;
  width: 200px;
  z-index: +1;
  left: 300px;

  margin-top: 20px;
}
#help1 {
  margin-left: 10px;
  left: 50%;
  color: gray;
}
.abot {
  color: white;
  display: block;
  padding: bottom 7px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abot:hover {
  text-decoration: underline;
}

#div18 {
  position: absolute;

  height: 330px;
  width: 200px;
  z-index: +1;
  left: 500px;

  margin-top: 20px;
}
#consumer {
  margin-left: 10px;
  left: 50%;
  color: gray;
}
.abot {
  color: white;
  display: block;
  padding: bottom 7px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abot:hover {
  text-decoration: underline;
}

#div19 {
  position: absolute;

  height: 330px;
  width: 200px;
  z-index: -1;
  left: 720px;

  margin-top: 20px;
}
#social {
  margin-left: 10px;
  left: 50%;
  color: gray;
}
.abot {
  color: white;
  display: block;
  padding: bottom 7px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.abot:hover {
  text-decoration: underline;
}

#div20 {
  position: absolute;

  height: 330px;
  width: 240px;
  z-index: -1;
  left: 850px;

  margin-top: 20px;
}
#mailus {
  margin-left: 12px;
  left: 50%;
  color: gray;
}
#address {
  color: white;
  display: block;
  padding: bottom 7px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 13px;
}
#line {
  position: absolute;

  width: 20px;
  height: 300px;
  right: 660px;
  margin-top: 20px;
  z-index: +1;
}
#dashline {
  position: absolute;
  display: block;
  left: 0;
  margin-top: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  color: gray;
}

#div21 {
  position: absolute;

  height: 330px;
  width: 320px;
  z-index: -1;
  right: 100px;

  margin-top: 20px;
}
#officeaddress {
  margin-left: 12px;
  left: 50%;
  color: gray;
}
#address2 {
  color: white;
  display: block;
  padding: bottom 8px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 13px;
}
#numblast {
  color: blue;
  display: inline;
}
hr {
  border: 0.5px solid gray;
  position: relative;
  top: 330px;
}

.fotterbottom {
  position: relative;
  color: white;
  display: inline;
  top: 340px;
  padding: 20px;
  margin-left: 100px;
}
#since {
  color: white;
  position: absolute;
  font-size: 18px;
  bottom: 4px;
  right: 290px;
  font-weight: lighter;
}
#paymentscard {
  position: absolute;
  bottom: 23px;
  right: 120px;
}

/*---------------- fashion container 2---------*/

#fashion-container2 {
  position: relative;
  width: 100%;
  height: 50px;
  top: 50px;
  background-color: white;

  box-sizing: border-box;
  border-bottom: 5px solid white;
}
#fdiv3 {
  position: absolute;
  top: 0px;
}

#fg1,
#fg2,
#fg3,
#fg4,
#fg5,
#fg6,
#fg7,
#fg8,
#fg9 {
  display: inline;
  padding: 30px;
  margin-left: 10px;
}
#fg1:hover {
  color: blue;
}
#fg2:hover {
  color: blue;
}
#fg3:hover {
  color: blue;
}
#fg4:hover {
  color: blue;
}
#fg5:hover {
  color: blue;
}
#fg6:hover {
  color: blue;
}
#fg7:hover {
  color: blue;
}
#fg8:hover {
  color: blue;
}
#fg9:hover {
  color: blue;
}

#elemenu {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li3:hover #elemenu {
  display: block;
}

#li3:hover #elemenu2 {
  display: block;
}
#li3:hover #elemenu3 {
  display: block;
}
#li3:hover #elemenu4 {
  display: block;
}

#li3:hover #elemenu5 {
  display: block;
}

.ml1 {
  padding: 0;
  margin: 10px;
}
.mobilelist {
  position: relative;
  top: -40px;
}

#elemenu2 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml2 {
  padding: 0;
  margin: 10px;
}

.mobileacce {
  position: relative;
}

#mbicon0,
#mbicon,
#mbicon2,
#mbicon3 {
  position: absolute;
  padding-top: 10px;
}

#elemenu3 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml3 {
  padding: 0;
  margin: 10px;
}

.laptops1 {
  position: relative;
}

#mbicon0,
#mbicon,
#mbicon2,
#mbicon3 {
  position: absolute;
  padding-top: 10px;
}

#elemenu4 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml4 {
  padding: 0;
  margin: 10px;
}

.Televisions {
  position: relative;
}

#mbicon0,
#mbicon,
#mbicon2,
#mbicon3 {
  position: absolute;
  padding-top: 10px;
}

#elemenu5 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml5 {
  padding: 0;
  margin: 10px;
}

.Featured {
  position: relative;
}

#mbicon0,
#mbicon,
#mbicon2,
#mbicon3 {
  position: absolute;
  padding-top: 10px;
}

#elemenu6 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 600px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li4:hover #elemenu6 {
  display: block;
}

#li4:hover #elemenu7 {
  display: block;
}
#li4:hover #elemenu8 {
  display: block;
}
#li4:hover #elemenu9 {
  display: block;
}

#li4:hover #elemenu10 {
  display: block;
}

.ml6 {
  padding: 0;
  margin: 10px;
}
.tvlist1 {
  position: relative;
  top: -40px;
}

#elemenu7 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 600px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml7 {
  padding: 0;
  margin: 10px;
}

.tvlist2 {
  position: relative;
}

#elemenu8 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 600px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml8 {
  padding: 0;
  margin: 10px;
}

.tvlist3 {
  position: relative;
}

#elemenu9 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 600px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml9 {
  padding: 0;
  margin: 10px;
}

.tvlist4 {
  position: relative;
}

#elemenu10 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 600px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml10 {
  padding: 0;
  margin: 10px;
}

.tvlist5 {
  position: relative;
}

#elemenu11 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li5:hover #elemenu11 {
  display: block;
}

#li5:hover #elemenu12 {
  display: block;
}
#li5:hover #elemenu13 {
  display: block;
}
#li5:hover #elemenu14 {
  display: block;
}

#li5:hover #elemenu15 {
  display: block;
}

.ml11 {
  padding: 0;
  margin: 10px;
}
.men1 {
  position: relative;
  top: -40px;
}

#elemenu12 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml12 {
  padding: 0;
  margin: 10px;
}

.men2 {
  position: relative;
}

#elemenu13 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml13 {
  padding: 0;
  margin: 10px;
}

.men3 {
  position: relative;
}

#elemenu14 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml14 {
  padding: 0;
  margin: 10px;
}

.men4 {
  position: relative;
}

#elemenu15 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml15 {
  padding: 0;
  margin: 10px;
}

.men5 {
  position: relative;
}

#elemenu16 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li6:hover #elemenu16 {
  display: block;
}

#li6:hover #elemenu17 {
  display: block;
}
#li6:hover #elemenu18 {
  display: block;
}
#li6:hover #elemenu19 {
  display: block;
}

#li6:hover #elemenu20 {
  display: block;
}

.ml16 {
  padding: 0;
  margin: 10px;
}
.women1 {
  position: relative;
  top: -40px;
}

#elemenu17 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml17 {
  padding: 0;
  margin: 10px;
}

.women2 {
  position: relative;
}

#elemenu18 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml18 {
  padding: 0;
  margin: 10px;
}

.women3 {
  position: relative;
}

#elemenu19 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml19 {
  padding: 0;
  margin: 10px;
}

.women4 {
  position: relative;
}

#elemenu20 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml20 {
  padding: 0;
  margin: 10px;
}

.women5 {
  position: relative;
}

#elemenu21 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li7:hover #elemenu21 {
  display: block;
}

#li7:hover #elemenu22 {
  display: block;
}
#li7:hover #elemenu23 {
  display: block;
}
#li7:hover #elemenu24 {
  display: block;
}

#li7:hover #elemenu25 {
  display: block;
}

.ml21 {
  padding: 0;
  margin: 10px;
}
.baby1 {
  position: relative;
  top: -40px;
}

#elemenu22 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml22 {
  padding: 0;
  margin: 10px;
}

.baby2 {
  position: relative;
}

#elemenu23 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml23 {
  padding: 0;
  margin: 10px;
}

.baby3 {
  position: relative;
}

#elemenu24 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml24 {
  padding: 0;
  margin: 10px;
}

.baby4 {
  position: relative;
}

#elemenu25 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml25 {
  padding: 0;
  margin: 10px;
}

.baby5 {
  position: relative;
}

#elemenu26 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li8:hover #elemenu26 {
  display: block;
}

#li8:hover #elemenu27 {
  display: block;
}
#li8:hover #elemenu28 {
  display: block;
}
#li8:hover #elemenu29 {
  display: block;
}

#li8:hover #elemenu30 {
  display: block;
}

.ml26 {
  padding: 0;
  margin: 10px;
}
.home1 {
  position: relative;
  top: -40px;
}

#elemenu27 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml27 {
  padding: 0;
  margin: 10px;
}

.home2 {
  position: relative;
}

#elemenu28 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml28 {
  padding: 0;
  margin: 10px;
}

.home3 {
  position: relative;
}

#elemenu29 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml29 {
  padding: 0;
  margin: 10px;
}

.home4 {
  position: relative;
}

#elemenu30 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml30 {
  padding: 0;
  margin: 10px;
}

.home5 {
  position: relative;
}

#elemenu31 {
  position: absolute;
  left: 30px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}
li {
  display: inline;
}

#li9:hover #elemenu31 {
  display: block;
}

#li9:hover #elemenu32 {
  display: block;
}
#li9:hover #elemenu33 {
  display: block;
}
#li9:hover #elemenu34 {
  display: block;
}

#li9:hover #elemenu35 {
  display: block;
}

.ml31 {
  padding: 0;
  margin: 10px;
}
.sbm1 {
  position: relative;
  top: -40px;
}

#elemenu32 {
  position: absolute;
  left: 300px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml32 {
  padding: 0;
  margin: 10px;
}

.sbm2 {
  position: relative;
}

#elemenu33 {
  position: absolute;
  left: 550px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml33 {
  padding: 0;
  margin: 10px;
}

.sbm3 {
  position: relative;
}

#elemenu34 {
  position: absolute;
  left: 830px;

  width: 20%;
  height: 550px;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml34 {
  padding: 0;
  margin: 10px;
}

.sbm4 {
  position: relative;
}

#elemenu35 {
  position: absolute;
  right: 25px;

  width: 20%;
  height: 550px;
  background-color: white;
  border: 2px solid white;
  padding: 0;
  margin: 0;
  top: 49px;
  display: none;
}

.ml35 {
  padding: 0;
  margin: 10px;
}

.sbm5 {
  position: relative;
}

/*---------------------fashion 3rd container---------*/

#fashion-container3 {
  position: relative;
  background-color: cadetblue;
  top: 100px;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  z-index: -1;
}
#fashimg1 {
  position: absolute;
  top: 5px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  z-index: -1;
}
